<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Weather Forecast</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
</head>
<body>
       <form name="form1" action='/weather' method="post" autocomplete="off">
       <h1>City Name:</h1><input class="input1" type="text" name="city_name" onfocus="this.value=''" value="enter city name here...."> <br/>
       <input class="input2" type="submit" name="form" value="Submit">
       </form>
</body>
</html>